#signin.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "signinlLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Sign In
      .modal-body
        = render partial: 'devise/sessions/new'