<row>
	<!-- MAIN IMAGE SECTION -->
<div id="headerwrap" id="home" name="home">
			<header class="clearfix">
					<h1 align="left">Gift of pizza</h1>
					<p id="headersubtext" align="right">share pizza with anyone</p>
          <p id="headersubsubtext" align="right">instantly.</p>
	  		</header>	    
	    </div><!-- /headerwrap -->
  
  		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap" align="center">
      <h1> <span style="color: #A22121">S</span>ending a pizza 10<span style="color: #A22121">1</span> </h1>
      <div class="row" align="center" style="margin-top: 60px;">
        <div class="col-sm-4 callout">
          <span class="fa fa-pencil-square-o" style="color: #333;font-size: 35px;"></span>
          <h2>Find someone to pizza </h2>
          <span class="glyphicon glyphicon-chevron-right" style="float: right;font-size: 25px;margin-right: -25px;margin-top: 10px;"></span>
					<p>Browse or enter a specific person. As long as they are a gift of pizza member, we'll know where to ship the pizza. </p>
				</div><!-- col-lg-4 -->
					
        <div class="col-sm-4 callout">
          <span class="glyphicon glyphicon-list-alt" style="color: #333;font-size: 35px;"></span>
					<h2>Select the type of pie</h2>
          <span class="glyphicon glyphicon-chevron-right" style="float: right;font-size: 25px;margin-right: -25px;margin-top: 10px;"></span>
					<p>Select a pizza you think they'll enjoy. Toppings, size, extras and anything else tasty.</p>
				</div><!-- col-lg-4 -->	
				
        <div class="col-sm-4 callout">
          <span class="fa fa-truck" style="color: #333;font-size: 35px;"></span>
          <h2>Pay and send</h2>
					<p>Pay via our secure ordering system and the pizza will be on its way to making someone happy.</p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
    

	<!-- SERVICES SECTION -->
	<div id="services">
		<div class="container">
			<div class="row mt">
				<div class="col-sm-1 centered">
					<i class="fa fa-certificate"></i>
				</div>
				<div class="col-sm-3">
					<h3>Quality Design</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>

				<div class="col-sm-1 centered">
					<i class="fa fa-question-circle"></i>
				</div>
				<div class="col-sm-3">
					<h3>Awesome Support</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>
			
			
				<div class="col-sm-1 centered">
					<i class="fa fa-globe"></i>
				</div>
				<div class="col-sm-3">
					<h3>Global Services</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>
			
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- services section -->
	
	
  <div id="greywrap" align="center">
      <h1> <span style="color: #A22121">R</span>equesting a pizz<span style="color: #A22121">a</span> </h1>
      <div class="row" align="center" style="margin-top:60px;">
        <div class="col-sm-4 callout">
          <span class="fa fa-pencil-square-o" style="color: #333;font-size: 35px;"></span>
					<h2>Fill out a request</h2>
          <span class="glyphicon glyphicon-chevron-right" style="float: right;font-size: 25px;margin-right: -25px;margin-top: 20px;"></span>
					<p>Enter your information and address. Don't worry, we'll keep this information private. </p>
				</div><!-- col-lg-4 -->
					
        <div class="col-sm-4 callout">
          <span class="fa fa-comment-o" style="color: #333;font-size: 35px;"></span>
					<h2>Tell your story</h2>
          <span class="glyphicon glyphicon-chevron-right" style="float: right;font-size: 25px;margin-right: -25px;margin-top: 20px;"></span>
					<p>Explain why you deserve to get a free pizza, encourage others to help.</p>
				</div><!-- col-lg-4 -->	
				
        <div class="col-sm-4 callout">
          <span class=" glyphicon glyphicon-time" style="color: #333;font-size: 35px;"></span>
					<h2>Sit back</h2>
					<p>Relax, with any luck someone will be shipping you a pizza soon.</p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
	
  
<script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
  </script>
