<row>
  <div id="headerwrap" style="padding-left: 35px;padding-bottom: 50px;">
        <p id="headersubsubtext" align="left" style="margin-top:25px;">Search for someone to send pizza to</p>
    <br/><br/>
        <div align="right">
          <p id="headersubsubtext">Be sure to read their story before deciding on who to gift</p>
        </div>
</div><!-- /headerwrap -->
</row>