<footer>
  <div align="center">
    <a href="http://giftofpizza.com">Gift Of Pizza  </a>was hand-made with love by <a href="mailto:ccnp_pro@yahoo.com?Subject=Hey%20Mike">Mike Rickert</a> and <a href="mailto:chris0374@gmail.com?Subject=Hey%20Chris">Chris Jeon</a>
  </div>
</footer>