<footer>
  <div align="center">
    <%= link_to "Gift Of Pizza", root_path %> was hand-made with love by <a href="mailto:ccnp_pro@yahoo.com?Subject=Hey%20Mike">Mike Rickert</a> and <a href="mailto:chris0374@gmail.com?Subject=Hey%20Chris">Chris Jeon</a>
  </div>
</footer>